TWITCH_TOKEN=oauth:your_token_here
TWITCH_REFRESH_TOKEN=your_refresh_token_here
TWITCH_CLIENT_ID=your_client_id_here
TWITCH_CLIENT_SECRET=your_client_secret_here
TTS_RATE=180
TWITCH_NICK=k4woks
TWITCH_CHANNEL=k4woks
